{% extends "Maestros/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<title>Logout</title>
<h1>-Soy inebitalbe.
    -Yo soy Iron Man </h1>
<img src="https://larepublica.pe/resizer/blR39bSOl-XFi0eZAkoBZj82vEs=/538x0/top/larepublica.pe/resizer/hcsW4CS7QC853Cng6K73ePr6ZYw=/538x0/top/smart/arc-anglerfish-arc2-prod-gruporepublica.s3.amazonaws.com/public/O4O6YRADKNHNPNQ3WNM4VWAYTU.jpg"; width="540" height="540">
<br/>
<p><a href="{% url 'inicio' %}">Volver al inicio</a></p> 
{% endblock %}